.active-subject {
    transition: 1s;
    background: #7788AA;
    border-radius: 50px;
}

.header-container {
    background: #2E4372;
    color: white;
}

.subject-selection {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: 1s;
}
.subject-all {
    background: #D6DCE8;
    color: black;
    border-radius: 50px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}
.subject-container ul {
    height: auto;
}
h2 {
    font-weight: bold;
}

.students-container {
    background: #4E648E;
}

.student-element {
    cursor: pointer;
    margin: 15px;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    background: #4E648E;
    color: white;
}