.active-subject {
    text-decoration: underline;
    font-weight: bold;
}

.header-container {
    background: #AA3939;
    color: white;
    padding: 10px;
}

.header-container li {
    cursor: pointer;
}

.students-container {
    background: #D87878;
}

.student-element {
    cursor: pointer;
    margin: 15px;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    background: #D87878;
    color: white;
}